@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .ina-cases{
      font-size: 24px;
    }

    .row .col{
      margin: 1rem auto;
      display: block;
      padding: 0 2rem;
      text-align: center;
    }

  }