span.country {
  text-align: center;
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(149, 165, 166);
  position: absolute;
  left: 0px;
  right: 0px;
  opacity: 0.3;
  font-family: rubik;
  top: 20px;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */

  span.country {
    font-size: 36px;
    top: 50px;
  }


  .row.cases {
    display: block;
    padding: 2rem;
    text-align: center;
  }

  .row .col {
    margin: 1rem auto;
  }
}