span.country {
  text-align: center;
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(149, 165, 166);
  position: absolute;
  left: 0px;
  right: 0px;
  opacity: 0.3;
  font-family: rubik;
  top: 20px;
}

/* Responsive */

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

  span.country {
    font-size: 32px;
    top: 40px;
  }

  .jml-korban{
    font-size: 18px;
  }
}

@media (max-width: 575px) {

  span.country {
    font-size: 32px;
    top: 40px;
  }

  .row.country {
    margin: 1rem auto;
  }

  .jml-korban{
    font-size: 15px;
  }
}