span.world-cases{
  text-align: center;
font-size: 64px;
text-transform: uppercase;
font-weight: 500;
color: rgb(149, 165, 166);
position: absolute;
left: 0px;
right: 0px;
opacity: 0.3;
font-family: rubik;
top: -50px;
}

span.ina-cases {
  text-align: center;
  font-size: 64px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(149, 165, 166);
  position: absolute;
  left: 0px;
  right: 0px;
  opacity: 0.3;
  font-family: rubik;
}

canvas{
  height: 400px;
  padding: 0.5rem 6rem;
}

.footer{
  height: 1rem;
}

/* Responsive */

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 575px) {

}