@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden
}

#homepage {
    margin: 0px 105px;
}

#navbars {
    margin: 0px 125px;
}

#menu1 {
    border-top: 8px solid #4D6CFF;
    border-radius: 10px;
}

#menu2 {
    border-top: 8px solid #67D3B3;
    border-radius: 10px;
}

#menu3 {
    border-top: 8px solid #EF7943;
    border-radius: 10px;
}

#menu4 {
    border-top: 8px solid #FECC65;
    border-radius: 10px;
}

.header-bg-toggle {
    width: 0%;
    position: absolute;
    visibility: hidden;
}

/* Responsive */

@media (max-width: 1024px) {
    h1.display-5{
        font-size: 1.5rem;
    }

    p.lead{
        font-size: 1rem;
    }

    p.caption{
        font-size: 0.8rem;
    }
}


@media (max-width: 768px) {

    h1.display-5 {
        font-size: 1.2rem;
    }

    p.lead{
        font-size: 0.9rem;
    }

    #homepage {
        margin: 0px 10px;
        font-size: 12px;
    }

    #navbars {
        margin: 0px 25px;
    }
}

@media (max-width: 575px) {

    h1.display-5 {
        text-align: center;
        font-size: 1.5rem;
    }

    p.lead {
        width: 0%;
        position: absolute;
        visibility: hidden;
    }

    #homepage {
        margin: 0px 10px;
        font-size: 12px;
    }

    #navbars {
        margin: 0px 25px;
    }

    .header-bg {
        display: none;
    }

    .header-bg-toggle {
        visibility: visible;
        margin-top: -40px;
        width: 100%;
        display: block;
        text-align: center;
        position: relative;
    }

    .row .header-bg img {
        margin-top: 0;
        width: 0%;
        position: absolute;
    }
}